public/bestfiles
public/evidence
public/system
public/download/*.csv
tags
db/*.sql
db/*sqlite
db/*sqlite3
db/schema.rb
db/sphinx
config/database.yml
config/*.sphinx.conf
log/*.log
log/*.pid
tmp/
.DS_Store
coverage/
*~
