<h5>You can think of <strong>Emo</strong> as Twitter's mood ring.  <br/>
  Using a well-trained army of very emotional robots, <br/>
  <strong>Emo</strong> tells you how people really feel 
  about the latest trends and memes.</h5>

<% form_tag pivot_path, :method => :get do -%>

  <div class="span-10">
    <label class="trend">Trend</label><br/>
    <%= select_tag :trend_name, options_for_select(@trends.map {|t| [t.name, t.name]}), :class => 'trend' %>
  </div>

  <div class="span-10">
    <label class="emotion">Emotion</label><br/>
    <%= select_tag :emotion_name, options_for_select(@emotions.map {|t| [t.name, t.name]}), :class => 'emotion' %>
  </div>

  <div class="span-4 last">
    <label>&nbsp;</label><br/>
    <%= submit_tag 'Go' %>
  </div>

  
<% end -%>

